{% extends "layouts/basic.html" %}

        {% block meta %}
        <meta name="description" content="This is home.">
        {% endblock %}

        {% block styles %}
        <!-- build:css -->
        <link rel="stylesheet" href="styles/style.css">
        <!-- endbuild -->
        {% endblock %}

        {% block body %}
        <main>
            <h1>
                Welcome to Mrvacha
            </h1>
            <p>Gulp front-end workflow Gulp with Browsersync, Nunjucks, Sass</p>
            <br>

            <h3>Data example</h3>
            <hr>

            {% for contact in contacts %}
            <div class="module">
                <h3>{{ contact.name }}</h3>
                <p>{{ contact.email }}</p>
            </div>
            {% endfor %}

            <h2>Grid Example</h2>
            <div class="grid-3_xs-1" style="text-align: center;">
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
        </main>
        {% endblock %}

        {% block scripts %}
        <!-- build:js -->
        <script type="text/javascript" src="scripts/script.js"></script>
        <!-- endbuild -->
        {% endblock %}